[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-RESTful = "*"
SQLAlchemy-Serializer = "*"
Werkzeug = "*"
Flask-JWT-Extended = "*"
Flask-Cors = "*"
psycopg2-binary = "*"
gunicorn = "*"
honcho = "*"
python-dotenv = "*"

[requires]
python_full_version = "3.8.13"
