:root {
  --background-nav : #0086b3;
}
body {
  font-family: 'Roboto', sans-serif;
}


/* menu component styles */

.menu-section {
  height: 80vh;
}

.menu-list {
  color: #000;
  text-decoration: none;
}

.menu-container {
  width: 300px;
  margin: 50px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu_contain {
  height: 1100px;
}

.menu-heading {
  text-align: center;
}

.menu-list {
  list-style-type: none;
  margin:  10px 50px ;
  /* padding-top: 30px; */
  color: #0086b3;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ccc;
  height: 70px;
  transition: background-color 0.3s ease;
  width: 90%;
  margin: 10px 10px 20px 20px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.submenu-item:hover {
  background-color: #e0e0e0;
}

.hover-links {
  color: #000;
  text-decoration: none;
}

.bank_img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

.home-img-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 70px 50px 50px 50px;
}

.home-img-detals {
  margin-top: 20px;
  font-size: larger;
}

/* menu cards */
.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin: 50px 50px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05); 
}


.card-content {
  padding: 20px;
}

.card-title {
  margin-top: 0;
}

.card-description {
  margin-bottom: 0;
}


/*  */


/* Transaction page styles */

.transactions-container {
  margin: 20px;
  height: 70vh;
}

.transaction-list {
  width: 100%;
  border-collapse: collapse;
}

.transaction-list th,
.transaction-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-list th {
  background-color: #f2f2f2;
}

.transaction-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-list tr:hover {
  background-color: #ddd;
}

.delete-transaction-btn {
  background-color: red;
  border: none;
  padding: 7px;
  border-radius: 5px;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px;
}



/* Details page styles */

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.icon {
  height: 190px;
  width: 190px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 60px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.detail {
  display: flex;
  align-items: center;
}

.account-overview {
  margin-top: 50px;
  margin-bottom: 50px;
}

.account-summary {
  display: flex;
  justify-content: space-between;
}

.account {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.linked-accounts {
  margin-top: 20px;
}

.linked-accounts ul {
  list-style: none;
  padding: 0;
}

.linked-accounts li {
  margin-bottom: 5px;
}

.details_edit {
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: #ddd;
}
.details_edit:hover {
  background-color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  padding: 17px;
  border-radius: 10px;
  border: #000 1px solid;
}

.save-button {
  margin: 10px;
  padding: 10px;
}

.form-label {
  margin: 10px;
}

.user-details-form {
  display: flex;
  flex-direction: column;
}


/*  */

label {
  margin-right: 10px;
}

/* Navbar styles */

.navbar {
  background-color: var(--background-nav);
  padding: 30px;
  display: flex;
  width: 100%;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue; 
}

.logout-click {
  cursor: pointer;
}

.logout-click:hover {
  text-decoration: underline;
}



/* Footer styes */
.footerStyle {
  margin-top: 120px;
  cursor: default;
  width: 100%;
}

.footer {
  background-color: #e9ecee;
  padding: 30px 0;
  margin-top: 50px;
  color: #333;
  position: fixed;
  bottom: 0;
  /* bottom: -31px; */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: var(--background-nav);
  width: 100%;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  background-color: var(--background-nav);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.8rem;
}

/*  */


@media only screen and (min-width: 768px) {
  .user-details {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .details-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media only screen and (max-width: 600px) {
  .signup-container {
    max-width: 100%;
  }
  .footer-content {
    display: block;
    padding: 10px;
    padding: 50px 50px;
  }
}



@media only screen and (min-width: 1000px) {
  .home-img-container {
    grid-template-columns: repeat(2, 1fr); 
  }
  .details-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

