.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.signup-form .form-group {
  margin-bottom: 15px;
}

.signup-form label {
  font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.switch-auth {
  margin-top: 10px;
}

.switch-auth button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: darkblue;
}

.menu-container {
  width: 300px;
  margin: 50px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-heading {
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ccc;
  height: 50px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.submenu-item:hover {
  background-color: #e0e0e0;
}


.transactions-container {
  margin: 20px;
}

.transaction-list {
  width: 100%;
  border-collapse: collapse;
}

.transaction-list th,
.transaction-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-list th {
  background-color: #f2f2f2;
}

.transaction-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transaction-list tr:hover {
  background-color: #ddd;
}


.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 200px;
  width: 200px;
  margin-right: 150px;
  margin-top: 50px;
  background-color: #ddd;
  border-radius: 100px;
}

.details-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.detail {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

.navbar {
  background-color: #333;
  padding: 30px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue; 
}


@media only screen and (min-width: 768px) {
  .user-details {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .details-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media only screen and (max-width: 600px) {
  .signup-container {
    max-width: 100%;
  }
}
